body {
    box-sizing: border-box;
    background: hsl(226, 43%, 10%);
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    border: 10px solid #ffffff;
}


 /* profile area */
.profile {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 30px;
    background:  hsl(246, 80%, 60%);
    border-radius: 10px;
}

.info {
   display: flex;
   flex-direction: column;

}

.avatar {
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-attachment: fit-content;
    width: 100px;
    height: 100px;
}

.avatar > img {
    width: 100px;
    height: 100px;
}



/* cards area */
.time-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container {
    
}

.front-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding: 20px;
    background: hsl(235, 46%, 20%);
    border: 1px solid #000000;
    border-radius: 10px;
    width: 200px;
    opacity: 0.5;
    z-index: 1;
}

.back-card {
    padding: 20px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: right;
    position: absolute;
}

.work {
    background: hsl(15, 100%, 70%);
}

.play {
    background: hsl(195, 74%, 62%);
}

.study {
    background: hsl(348, 100%, 68%);
}

.excercise {
    background: hsl(145, 58%, 55%);
}

.social {
    background: hsl(264, 64%, 52%);
}

.back-card .selfcare {
    background: hsl(43, 84%, 65%);
}

.card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-name > p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body > .time > h1 {
    color: #ffffff;
}